* text=auto eol=lf

# Windows script phải giữ CRLF
*.bat text eol=crlf
*.cmd text eol=crlf
*.ps1 text eol=crlf

# MaxScript: 3ds Max đọc tốt cả CRLF
*.ms  text eol=crlf
*.mcr text eol=crlf

# File nhị phân
*.png binary
*.jpg binary
*.psd binary
*.max binary
*.dwg binary
*.ccx binary
*.zip binary
